@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.image-caption {
  text-align: center;
  font-size: 0.8rem;
  color: lightgrey;
}

.swiper {
  padding: 2rem;
}

.swiper .res-slide {
  min-width: 300px;
  max-width: 400px;
  min-height: 350px;
  border: 2px solid hsl(210, 100%, 50%);
  border-radius: 20px;
}

.swiper-nav-btns button {
  width: 30px;
  height: 20px;
  outline: none;
  color: #a3a3a3;
  margin: 0px 0.5rem;
  margin-top: 30px;
}

.marks circle {
  fill: #137b80;
}
.path-visited {
  stroke: #3f3f46;
  stroke-width: 0.2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.path-visited:hover {
  fill: #082f49;
  cursor: pointer;
}

/* For Japan */
.path-visited-japan {
  stroke: #3f3f46;
  stroke-width: 0.2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.path-visited-japan:hover {
  fill: #e30065;
  cursor: pointer;
}

.path-not-visited {
  stroke: #3f3f46;
  stroke-width: 0.2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.path-not-visited:hover {
  cursor: pointer;
}

.path {
  stroke: cornsilk;
}
